.inline{
    display: flex;
}
.nav-s1{
    flex: 1 0 0;
}
.nav-s2{
    flex: 3 0 0;
}
.nav-s3{
    flex: 1 0 0;
}
ul.slimmenu li.active > a, ul.slimmenu li:hover > a {
    background: #054b20;
}

header#main-header{
        border-bottom: 2px solid #00ad40;
        height: 90px;
        background-color: #004b1d;
}
.top-user-area .top-user-area-list > li > a{
    color: #000;
}

.top-user-area .top-user-area-list > li.top-user-area-lang > a > img {
    width: 26px;
    height: 26px;
}
.top-user-area .top-user-area-list > li.top-user-area-lang .nav-drop-menu li a img {
    width: 22px;
    height: 22px;
}
.search-tabs-bg > .tabbable > .nav-tabs > li.active > a{
            background: rgba(5, 75, 32, .8);
}
button.btn.btn-primary.btn-lg.search-btn{
    background: #fccb37;
    border-color: transparent;
    color: #333333;
    width: 150px;
}
button.btn.btn-primary.btn-lg.search-btn:hover{
    background-color: #fccb37;
}
button.btn.btn-primary.btn-lg:hover {
    background: #054b20;
    border-color: #054b20;
}
.btn-group-select-num >.btn.active, .btn-group-select-num >.btn.active:hover {
     background: #054b20;
    border-color: #054b20;
}
.search-tabs-bg > .tabbable > .nav-tabs > li > a:hover > .fa {
    background: #054b20;
}

i.fa.fa-map-marker.input-icon.home {
    top: 0;
}

i.fa.fa-calendar.input-icon.input-icon-highlight {
    top: 0;
}
i.fa.fa-clock-o.input-icon.input-icon-highlight {
    top: 0;
}
.search-tabs-abs-bottom{
    position: relative;
    top: 250px;
}
div#tab-4{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.form-control:active, .form-control:focus {
    border: 1px solid #054b20;
} 
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, 
.datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, 
.datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, 
.datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, 
.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, 
.datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, 
.open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker 
table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover
{
    background-color: #054b20;
    border-color: #054b20;
}
.border-icon-main{
    position: relative;
    width: 116px;
    height: 66.97px;
    background-color: transparent;
    border-left: solid 2px #054b20;
    border-right: solid 2px #054b20;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transform: rotate(.0001deg);
    -webkit-transform: rotate(.0001deg);
    -ms-transform: rotate(.0001deg);
}
.border-icon-main, .border-icon-main-call-to-us{
    margin: 33.49px auto;
    -webkit-backface-visibility: hidden;
}
.border-icon-main:after, .border-icon-main:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 82.02px;
    height: 82.02px;
    -webkit-transform: scaleY(.5774) rotate(-45deg);
    -ms-transform: scaleY(.5774) rotate(-45deg);
    transform: scaleY(.5774) rotate(-45deg);
    background-color: inherit;
    left: 14.99px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }
    .border-icon-main:before {
    top: -41.01px;
    border-top: solid 2.83px #054b20;
    border-right: solid 2.83px #054b20;
}
.border-icon-main:after, .border-icon-main:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 82.02px;
    height: 82.02px;
    -webkit-transform: scaleY(.5774) rotate(-45deg);
    -ms-transform: scaleY(.5774) rotate(-45deg);
    transform: scaleY(.5774) rotate(-45deg);
    background-color: inherit;
    left: 14.99px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }
    .border-icon-main:after {
    bottom: -41.01px;
    border-bottom: solid 2.83px #054b20;
    border-left: solid 2.83px #054b20;
}
svg.svg-service{
    padding-left: 30px; 
}
h4.title-service {
    font-size: 17px;
    line-height: 44px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
h4.title-service:after {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
li.slimmenu-sub-menu a {
    color: #fff !important;
}
a.tab-4-style {
    width: 240px !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;

}
.datepicker table tr td.today:before, .datepicker table tr td.today:hover:before, 
.datepicker table tr td.today.disabled:before, .datepicker table tr td.today.disabled:hover:before{
    border-color : transparent transparent #00ad40 transparent ;
}

.top-area .owl-carousel-area .owl-item{
    height: 550px;
}

.owl-controls .owl-buttons div:hover{
     background: #054b20;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}
.owl-controls .owl-buttons div:hover{
     background: #054b20;
    -webkit-box-shadow: 0 0 0 1px #fff;    
    box-shadow: 0 0 0 1px #fff;

}
.top-area, .special-area{
    height: 550px;
}
.search-tabs-bg > .tabbable >.tab-content > .tab-pane{
     background: rgba(5, 75, 32, .8);

}
.search-tabs-bg > .tabbable >.tab-content > .tab-pane .form-control {
    background: rgba(255,255,255,1);
}
input.typeahead.form-control.tt-input {
    background-color: #fff !important;
}
.bg-holder > .bg-mask, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-mask-white, .bg-holder > .bg-mask-color, .bg-holder > .bg-mask-color-invert{
    background: transparent;
}
i.fa.fa-sign-in{
    vertical-align: middle;
    color: #fff;
}
input.typeahead.form-control.tt-hint{
        border-radius: 50px !important;
}
.owl-controls .owl-buttons div {
    margin: 0 !important;
}
.line-bottom{
    border-bottom: 4px solid #004b1d;
    width: 15%;
    text-align: center;
    margin: 10px auto;
}
.line-bottom-left{
    border-bottom: 4px solid #004b1d;
    width: 50px;
    margin-bottom: 20px;
}
.line-bottom-left-black{
    border-bottom: 4px solid #000;
    width: 50px;
}
ul.list-branch-ecocar li {
    list-style-type: none;
}
ul.list-branch-ecocar li a {
    color: #000;
    font-size: 15px;
}
ul.list-branch-ecocar{
    line-height: 2em ;
}
li.top-user-area-lang.nav-drop a{
    color: #fff;
}
li.login-menu a {
    color: #fff !important;
}
.fa-check-circle:before{
    color: #004b1d;
}
.btn-allnews{
    background-color: #054b20;
    padding: 10px 20px;
    color: #fff;
    display: block;
    border-radius: 5px;
}
.call-now{
    background-color: #004b1d;
    padding: 40px 0 30px 0 !important;
}
.call-now h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.call-now p{
    color: #fff;
    font-weight: 300;
}
button.btn.btn-lg.btn-callnow {
    color: #333;
    background: #fccb37;
}
footer#main-footer{
    background-color: #004b1d;
    background-image: url(../img/background-footer-thaimicropile.png);
    background-position: top;
    padding: 90px 0 60px 0;
}
ul.list.list-footer {
    line-height: 2em;
    font-size: 14px;
}
.Copyright{
    background-color: #033717;
    color: #fff ;
    padding-top: 12px;
    padding-bottom: 8px;
}
::selection {
    background: #333;
    color: #fff;
}
.top-user-area .top-user-area-list > li > a:hover{
    color: #9c9797;
}
.form-group.form-group-lg .form-control {
    font-size: 15px ;
}
ul.slimmenu li a{
    color: #fff;
}
#top-header{
    background-color: #033717;
    color: #fff;
    padding: 10px 0px;
    font-weight: 300;
    font-size: 14px;
}
.contact-top-right{
    text-align: right;
}
.fluid-width-video-wrapper {
    padding-top: 60% !important;
}
.video{
    width: 100%;
    height: auto;
    min-height: 300px;
}
iframe.line-it-button{
    vertical-align: middle;
}
.btnWrap.afWrap .btn{
        min-width: 90px !important;
}
.section-profile{
    background-color: #f5f5f5;
}
.w3-bar.w3-black{
    text-align: center;
    line-height: 3em;
}
.row.row-wrap.owl-profile{
    min-height: 320px;
}
.owl-theme .owl-controls .owl-buttons div{
    padding: 1px 10px;
}
a.w3-bar-item.w3-button{
    font-size: 16px !important;
    color: #565656;
    padding: 0 14px;
    font-weight: 300;
    cursor: pointer;
}
a.w3-bar-item.w3-button:hover {
    font-weight: 700;
    color: #054b20;
}
.owl-theme .owl-controls .owl-buttons div {
    background: #054b20;
    opacity: 1;
}
.owl-controls .owl-buttons div:hover{
    background: #869791;
}
button.btn.btn-lg.btn-allnews{
    color: #fff;
}
ol.breadcrumb{
    text-align: right;
    padding-top: 15px;
}
.bc-left{
        margin-top: 25px;
    margin-bottom: 0;
}
.section-bc{
    height: 90px;
    background: #629e5757;
}
li.breadcrumb-item a {
    color: #333;
    font-size: 16px;
}
.breadcrumb > li + li:before{
    color: #fff !important;
    font-size: 20px;
}
ul.slimmenu.slimmenu-collapsed li .slimmenu-sub-collapser{
    background: transparent;
    margin-top: -5px;
}
ul.slimmenu.slimmenu-collapsed li a {
    border-bottom: 1px solid rgba(50, 176, 23, 0.81);s
}
ul.slimmenu.slimmenu-collapsed li:last-child a{
    border-bottom: 0;
}
.h2-title-bc{
    font-size: 30px;   
}
#section-branch-2{
    background-color: #f5f5f5; 
    height: 500px; 
    padding-top: 85px; 
    padding-bottom: 20px;
}
.title-2{
    padding: 20px 100px;
}
.text-center7{
    text-align: center;
}
.line-section-video{
    background-color: #004b1d; 
    padding-top: 2px; 
    margin-top: 50px;
}
.user-login-mobile{
    float: right;
    margin-top: 5px;
}
.drop-car-box {
    background-color: #fff;
    position: absolute;
    /* width: 100%; */
    top: 390px;
    border-radius: 5px;
    padding: 30px 30px;
    margin: 0 50px;
    z-index: 10;
    transform: translate(0,20px);
    -webkit-transform: translate(0,20px);
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    /*visibility: hidden;*/
     opacity: 0;
    border: 1px solid rgb(1, 173, 64);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.pick-up-box-open {
    transform: translate(0,0) !important;
    -webkit-transform: translate(0,0) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.pick-up-box{
     background-color: #fff;
    position: absolute;
    /* width: 100%; */
    top: 390px;
    border-radius: 5px;
    padding: 30px 30px;
    margin: 0 50px;
    z-index: 10;
    left: 0;
    transform: translate(0,20px);
    -webkit-transform: translate(0,20px);
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    visibility: hidden;
     opacity: 0;
    border: 1px solid rgb(1, 173, 64);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.pick-up-box-arrow:after{
    left: 10%;
    content: " ";
    position: absolute;
    top: -15px;
    border: solid transparent;
    border-color: #fff;
    border-top: none;
    border-width: 16px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
.pick-up-box-arrow-right:before{
    right : 10%;
    content: " ";
    position: absolute;
    top: -15px;
    border: solid transparent;
    border-color: #fff;
    border-top: none;
    border-width: 16px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
.title-pickup {
    font-weight: 500;
    color: #024d27;
}
.pickup-branch-box{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}
.pickup-branch-box:hover{
    background-color: #f3f3f3;
    cursor: pointer;
}
.form-group.form-group-lg .form-control.textbox-pickup{
    height: 50px;
    padding-top: 25px;
}
.form-group.form-group-lg .form-control.textbox-dropcar{   
    height: 50px;
    padding-top: 25px;
}
.owl-carousel{
    margin: 0;
}
.bg-black{
    background-color: #333;
}
.bg-allsection {
    opacity: 0.5;
}
.title-branch{
    font-size: 16px;
    text-align: left;
}
.description-branch{
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}
input#pick-up-point,input#drop-car-point{
    cursor: pointer;
}
.box-card-ecocar{
    margin-bottom: 30px;
    height: 500px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 4px 15px #a09b9b7d;
}
.box-card-ecocar:hover {
    box-shadow: 0px 12px 20px #a09b9b7d;
}
.box-description{
    padding: 15px;
}
.wrapper-inner-ecocar {
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(51, 92, 40, 0.29));
}
.border-about-content{
    padding: 23px;
    border: 4px solid #01ad40;
}
.sec-success-about{
    padding: 70px;
    border: 6px solid #282d2a;
    border-radius: 5px;
    color: #fff;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #004b1d;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
/* The circles on the timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #01ad40;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
/* Place the container to the left */
.line-left {
    left: 0;
}
/* Place the container to the right */
.line-right {
    left: 50%;
}
/* Add arrows to the left container (pointing right) */
.line-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #188631;
}
/* Add arrows to the right container (pointing left) */
.line-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #188631 transparent transparent;
}
/* Fix the circle for containers on the right side */
.line-right::after {
    left: -12px;
}
/* The actual content */
.content-timeline {
    padding: 20px 30px;
    background-color: #097c4e;
    position: relative;
    border-radius: 6px;
    border: 4px solid #188630;
}
i#contact-promotion{
    background-color: #004b1d;
    padding: 20px;
    border-radius: 25%;
    margin-bottom: 10px;
    color: #fff;
}
.sec-promo-contact{
    background-color: #f3f3f3;
    padding: 30px;
}

.booking-item:hover, .booking-item.active{
        border: 1px solid #01ad40;
}
.booking-item{
        border: 1px solid #939393;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .line-left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .line-right {
    left: 0%;
  }
}
.border-responsibility{
    padding: 20px;
    border: 4px solid #1f785ffc;
    border-radius: 6px;
    height: auto;
}
#sec-condition {
  background: #a5a1a24d;
    padding: 29px;
    margin-bottom: 20px;
    /* border: 4px solid #004b1d; */
    border-radius: 12px;
    box-shadow: 0px 5px 7px;
}
#box-promotion{
    padding-left: 0;
    background-color: #004b1d;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #919090c4;
}
#promotions-boxone{
    padding-left: 0;
}
p#description-promotion{
    padding: 120px 0;
    font-size: 18px;
    color: #fff;
}
.sec-btnmore{
    padding: 120px 0;
    border-left: 1px solid #fff;
    padding-left: 20px;
}
.btn-more{
    background: #eeda00;
    color: #000;
}
.promotion-box-card{
    border-radius: 6px;
    box-shadow: 1px 0px 15px #8f8f8f;
}
#description-promotion{

}
.btn-more-all span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-more-all span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn-more-all:hover span {
  padding-right: 25px;
}
.btn-more-all:hover span:after {
  opacity: 1;
  right: 0;
}
.btn-more-all:hover{
    color: #fff;
}
.btn-more-all{
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    color: #fff;
}

.btn-changepass{
    background: #004b1d;
    border: none;
}
.btn-changepass:hover{
    background: #004b1d;
    border: none;
}
.btn-saveprofile{
    background: #004b1d;
    border: none;
}
.btn-saveprofile:hover{
    background: #004b1d;
    border: none;
}
@-webkit-keyframes glowing {
  0% { background-color: #004b1d; -webkit-box-shadow: 0 0 3px #004b1d; }
  50% { background-color: #01ad40; -webkit-box-shadow: 0 0 40px #01ad40; }
  100% { background-color: #004b1d; -webkit-box-shadow: 0 0 3px #004b1d; }
}
@-moz-keyframes glowing {
  0% { background-color: #004b1d; -moz-box-shadow: 0 0 3px #004b1d; }
  50% { background-color: #01ad40; -moz-box-shadow: 0 0 40px #01ad40; }
  100% { background-color: #004b1d; -moz-box-shadow: 0 0 3px #004b1d; }
}
@-o-keyframes glowing {
  0% { background-color: #004b1d; box-shadow: 0 0 3px #004b1d; }
  50% { background-color: #01ad40; box-shadow: 0 0 40px #01ad40; }
  100% { background-color: #004b1d; box-shadow: 0 0 3px #004b1d; }
}
@keyframes glowing {
  0% { background-color: #004b1d; box-shadow: 0 0 3px #004b1d; }
  50% { background-color: #01ad40; box-shadow: 0 0 40px #01ad40; }
  100% { background-color: #004b1d; box-shadow: 0 0 3px #004b1d; }
}
.pagination{
    padding-left: 70px;
}

.pagination > li > a {
    color: #000;
}

.pagination > li > a:hover {
    background: #01ad40;
    color: #fff;
}

.pagination > li.active > a, .pagination > li.active > a:hover{
    background: #004b1d;
}
.box-icon,
[class^="box-icon-"],
[class*=" box-icon-"]{
    background: #004b1d;
}
.post .post-header {
    border-bottom: 2px solid #01ad40;
}
.fa-chain:before, .fa-link:before {
    padding-top: 7px;
}
.btn-contact {
    background: #004b1d;
    border-color: #004b1d;
    color: #fff;
    font-weight: 700;
}

.btn-contact:hover{
    background: #004b1d;
    border-color: #004b1d;
}
aside.sidebar-right {
    border-left: none;
}
.user-profile-sidebar .user-profile-nav > li > a:hover > i{

    color: #fff;
}
.user-profile-sidebar .user-profile-nav > li > a:hover{
    background: #117d04;
}

textarea.form-control{
    height: 150px;
}
.user-profile-sidebar{
    background: #004b1d !important;
    width: 100%;
}
input.no-home{
    padding-left: 12px !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
        background-color: #cadfc6;
        color: #000;
}

.user-profile-sidebar .user-profile-avatar img {
        width: 120px;
    margin-bottom: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover !important;
    height: 120px;
    border: 2px solid #fff;
}

.nav-drop > .nav-drop-menu > li > a#bg-dropdown-display{
   background-color: #153827;
    color: #000;
    border-bottom: none;
}
.nav-drop > .nav-drop-menu > li > a#bg-dropdown-display:hover {
  background-color: #85ce7e;
}

.nav-drop > .nav-drop-menu > li:first-child > a#bg-dropdown-display:before{
  position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #153827 transparent;
    top: -10px;
    left: 78px;
}

.top-user-area .top-user-area-list > li.top-user-area-avatar > a:hover > img {
        border: 2px solid #01ad40;
}
.img-paypal {
    width: 290px ; align-items: center; padding-left: 69px;
}

#loading {
        -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
        from {
                -webkit-transform: rotate(0deg);
        }
        to {
                -webkit-transform: rotate(359deg);
        }
}
.nav-drop > .nav-drop-menu.bg-display{
  left: -67px;
}
#col-right{
    text-align: right;
}
#col-left{
    text-align: left;
}
.table-pro-inner{
    border: 4px solid #004b1d;
}
.content-testimonail{
    padding: 195px 90px;
    height: 710px;
}
.img-innertestimonail{
    object-fit:  cover;
    max-width: 100% !important;
    padding-left:  0 !important;
    padding-right:  0 !important;
    height: 710px;
}

ul.slimmenu.slimmenu-collapsed li ul li a:hover{
  background-color: #126f04;
}
.table-booking-history .booking-history-type{
        color: #000 !important;
    font-weight: 500;
    font-size: 12px;
}

ul.slimmenu li.active > a, ul.slimmenu li:hover > a{
     background: #038a00;
    /*padding: 5px 20px;*/
    border-radius: 30px;
}

ul.slimmenu li#about-menu:hover > a {
    background: #038a00d1;
    padding: 5px 34px 5px 20px;
    border-radius: 30px;
}
ul .slimmenu-sub-menu ul li.sub-menu-about:hover > a{
    border-radius: 0;
    padding: 12px 34px 12px 20px;
}

#logo-moblie-naruto{
        display: none;
    }

@media (max-width: 350px) and (min-width: 320px) {
    .img-paypal {
       width: 100%;
       padding-left: 0;
    }
}
@media (max-width: 369px) {
    .lang-hidden-mobile {
        display: none;
    }
    .login-hidden-mobile {
        display: none;
    }
   
}
@media (max-width: 400px) and (min-width: 320px){
    .bg-promobile{
        background-repeat: no-repeat;
        height: 280px;
        background-position: center center;
        background-size: 400px;
    }
    .top-area .owl-carousel-area .owl-item {
        height: 280px;
    }
}.pickup-branch-box
@media (max-width: 590px) and (min-width: 401px){
    .bg-promobile{
        background-repeat: no-repeat;
        height: 400px;
        background-position: center center;
        background-size: 580px;
    }
    .top-area .owl-carousel-area .owl-item {
        height: 450px;
    }
}
@media (max-width: 401px) {
    .pick-up-box{
        padding: 0;
    }
}
@media (max-width: 459px) and (min-width: 421px){
    .line-section-video {
        margin-top: 80px;
    }
}
@media (max-width: 380px) and (min-width: 320px){
    .section-video-v1{
    margin-bottom: 140px; 
    }
    .line-section-video{
        margin-top: 140px;
    }
}

@media (max-width: 420px) and (min-width: 381px){
    .section-video-v1{
        margin-bottom: 110px;
    }
    .line-section-video{
        margin-top: 110px;
    }
}


@media (max-width: 470px) and (min-width: 421px){
    .section-video-v1{
        margin-bottom: 80px;
    }
    .pagination#pagination-results{
        padding-left: 0;
    }
}
@media (max-width: 520px) and (min-width: 471px){
    .section-video-v1{
        margin-bottom: 60px;
    }
} 
@media (min-width: 521px) {
    .section-video-v1{
        margin-bottom: 20px;
    }
}
@media (max-width: 420px) {
    .title-2 {
        padding: 0;
    }
 }
 @media (max-width: 576px){
     .td-w-100p-mobile{
         width: 0;
     }
     .content-testimonail{
    padding: 70px 0px;
    height: 500px;
}
 }
 
 
 @media (max-width: 600px){
  .line-right::after{
    left:-12px;
    top: 65px;
  }
  .line-left::after, .right::after{
      left: -12px;
      top: 65px;
  }
    p{
        font-size: 14px;
    }  
    .container-timeline {
        padding-left: 0;
        padding-right: 0;
    }
    .content-timeline{
        padding: 20px 0;
    }
    .timeline::after{
        left: 0;
    }
    .container-timeline::before{
        
        border-color: transparent transparent transparent transparent;
    
    }
}

@media (max-width: 768px){
    .img-innertestimonail{
        height: auto;
    }
    
}






@media (max-width: 991px) and (min-width: 577px){
    .content-testimonail{
        height: 600px;
    }
}
 @media (max-width: 991px) {
    .pick-up-box{
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        top: 0 !important;
        position: fixed;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        z-index: 100;
    }
    .pick-up-box-arrow:after {
        display: none;
    }
    .pick-up-box-arrow-right:before{
        display: none;
    }
    .pickup-branch-box{
        height: 50px;
    }
    .title-pickup{
        font-size: 16px;
    }
    aside.sidebar-right{
        margin-top: 20px;
    }
    aside.sidebar-right{
        padding-left: 0;
    }
    .contact-right{
        text-align: center;
    }
    #col-right{
    text-align: center;
    }
    #col-left{
    text-align: center;
    }
  .thumb.promotion-box-card{
      margin-bottom: 50px;
    }
 }
 @media (max-width: 991px) and (min-width: 768px){
    .line-section-video{
        margin-top: 90px;
    }
    .box-news-ecocar{
     height: 370px;   
    }
    .center-sm{
        text-align: center;
    }
 }
@media (max-width: 991px){
    .s-3-service{
        padding-bottom: 50px;
    }
    
}
@media (min-width: 992px){
    .right-sm{
        text-align: right;
    }
}
@media (max-width: 992px) {
    #logo-ecocar {
        display: none;
    }
    #user-login {
        display: none;
    }
    #menu-mobile{
        width: 100%;
    }   
}
@media  (max-width: 1199px) and (min-width: 992px){
    .top-user-area .top-user-area-list{
        width: 250px;
    }
}
@media (max-width: 992px) {
    header#main-header{
        height: auto;
    }
    .slimmenu-menu-collapser {
        background-color: #004b1d;
    }
    .top-area, .special-area {
        height: auto !important;
    }
    .search-tabs-abs-bottom {
        top: auto;
    }
    #section-branch-2{
        height: auto;
    }
    .text-center7{
        text-align: left;
    }
    .pick-up-box{
        top: 170px;
    }
}
@media (max-width: 1605px) {
    #section-branch-2{
    height: auto;
    }
}
@media (max-width: 979px) {
    .owl-theme .owl-controls .owl-buttons  div {
        display: none;
    }
}
@media (max-width: 576px) {
    #logo-moblie-naruto{
        display: block;
    }
  div#top-header > div.container{
      display:none !important;
  }
  div#top-header{
      
      padding:0 !important;
  }
  .form-group.form-group-lg .input-icon{
        width: 30px;
        height: 30px;
        line-height: 45px;
        font-size: 20px;
    }
 
  .search-tabs-abs-bottom{
    margin-top: 50px;
  }
  label#naruto{
      display: none;
  }
  input.typeahead.form-control.textbox-pickup.tt-hint{
    height: 45px;
  }
  input#pick-up-point{
    height: 45px;
  }
  input.typeahead.form-control.textbox-dropcar.tt-hint{
      height: 45px;
      border-radius: 0 !Important;
  }
  input#drop-car-point{
      height: 45px;
      border-radius: 0 !Important;
  }
  input.datepicker_booking {
    height: 45px !important;
    border-radius: 0 !Important;
  }
   input.time_booking {
    height: 45px !important;
    border-radius: 0 !Important;
  }
   input.typeahead.form-control.tt-hint{
    border-radius: 0 !Important;
  }
  div#col-pickup {
    padding-left: 0;
    padding-right: 0;
    }
  div#col-dropup{
    padding-left: 0;
    padding-right: 0;
    }
  div#col-pick-date{
    padding-left: 0;
    padding-right: 0;
    }
  div#col-pick-time{
    padding-left: 0;
    padding-right: 0;   
    }
  div#col-drop-date{
    padding-left: 0;
    padding-right: 0; 
  }
  div#col-drop-time{
    padding-left: 0;
    padding-right: 0;   
  }
  #menu-mobile {
    padding-top: 15px;
  }
}

@media (max-width: 992px) {
  ul.slimmenu li.active > a, ul.slimmenu li:hover > a {
    background: transparent;
    /*padding: 5px 20px;*/
    border-radius: 0;
  }
  ul.slimmenu li#about-menu:hover > a{
    background: transparent;
    border-radius: 0;
    padding: 12px 20px;
    
  }
  
}

    