.Register1 {
    background: white;
    padding: 70px 70px !important;
    
}

input.form-control {
    padding: 25px !important;
    border-radius: 35px;
}

input.btn-forgetpass.btn-login-page.signup {
    width: 100% !important;
    border-radius: 50px !important;
    padding: 17px !important;
    margin-top: 40px;
}

i.fa.fa-user.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 400px;
}

i.fa.fa-phone.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 400px;
}


i.fa.fa-envelope.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 400px;
}

i.fa.fa-lock.input-icon.input-icon-show {
    padding-top: 10px;
    margin-left: 400px;
}

img.img-flag {
	width: 8%;
}
@media (max-width: 520px) and (min-width: 481px){
    i.fa.fa-user.input-icon.input-icon-show {
        margin-top: 10px;
        margin-left: 300px;
    }
   i.fa.fa-phone.input-icon.input-icon-show{
        margin-top: 10px;
        margin-left: 300px;
    }
    i.fa.fa-envelope.input-icon.input-icon-show{
        margin-top: 10px;
        margin-left: 300px;
    }
    i.fa.fa-lock.input-icon.input-icon-show {
        margin-left: 300px;
    }
}

@media (max-width:480px ) and (min-width:441px) {
    
    i.fa.fa-user.input-icon.input-icon-show {
        margin-top: 10px;
        margin-left: 265px;
    }
    i.fa.fa-phone.input-icon.input-icon-show{
        margin-top: 10px;
        margin-left: 265px;
    }
    i.fa.fa-envelope.input-icon.input-icon-show{
        margin-top: 10px;
        margin-left: 265px;
    }
    i.fa.fa-lock.input-icon.input-icon-show{
        
        margin-left: 265px;
    }
}

@media (max-width: 440px) and (min-width: 411px) {
    i.fa.fa-user.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 230px;
}

i.fa.fa-phone.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 230px;
}
i.fa.fa-envelope.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 230px;
}

i.fa.fa-lock.input-icon.input-icon-show {
    padding-top: 10px;
    margin-left: 230px
    
 }  
}

@media (max-width: 410px) and (min-width: 381px) {
     i.fa.fa-user.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 190px;
}

i.fa.fa-phone.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 190px;
}
i.fa.fa-envelope.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 190px;
}

i.fa.fa-lock.input-icon.input-icon-show {
    padding-top: 10px;
    margin-left: 190px
    
 }    
}

@media (max-width: 380px) and (min-width: 351px) {
     i.fa.fa-user.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 160px;
}

i.fa.fa-phone.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 160px;
}
i.fa.fa-envelope.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 160px;
}

i.fa.fa-lock.input-icon.input-icon-show {
    padding-top: 10px;
    margin-left: 160px
    
 }    
}

@media (max-width: 380) and (min-width: 360px) {
    i.fa.fa-user.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 235px;
}

i.fa.fa-phone.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 235px;
}


i.fa.fa-envelope.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 235px;
}

i.fa.fa-lock.input-icon.input-icon-show {
    padding-top: 10px;
    margin-left: 235px;
}
} 


@media (max-width: 350px) and (min-width: 320px) {
    i.fa.fa-user.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 140px;
}

i.fa.fa-phone.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 140px;
}


i.fa.fa-envelope.input-icon.input-icon-show {
    margin: 10px;
    margin-left: 140px;
}

i.fa.fa-lock.input-icon.input-icon-show {
    padding-top: 10px;
    margin-left: 140px;
}
}


