.navbar-light .navbar-nav .nav-link:hover{
    color: #00692f !important;
}


.dropdown-menu{
    min-width: 0rem !important;
}
.item.card {
    width: 100%;
}
a:hover{
    text-decoration: none !important;
}

i.fa.fa-facebook-square.fa-2x {
    color: #3c5a99;
}
i.fa.fa-twitter-square.fa-2x {
    color: #34ABDD;
}
i.fa.fa-google-plus-square.fa-2x {
    color: #f1522c;
}
i.fa.fa-rss-square.fa-2x {
    color: #df5a1b;
}

.carousel.slide img {
    width:100%;
    height:auto;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
      width: 100%;
    height: 200px;
    object-fit: cover;
        padding-right: 10px;
}

.Contact-information{
    text-align: right;
}

.fade {
    opacity: 1 !important;

}

footer{

    padding-bottom: 0;
}

.dropdown-menu.show {
    left: auto !important;
    right: 0 !important;
}

a.dropdown-item{
    font-size: 1rem;
}
a.dropdown-toggle {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}
input#sp_uname {
    font-size: 1rem;
}
input#sp_pass {
    font-size: 1rem;
}
input.btn.btn-primary {
    font-size: 1rem;
    padding: .5rem 1.85rem;
}
a.dropdown-toggle:hover {
    color: #00692f !important;
}

.login{
    margin-bottom: 5px !important;3
}
a.nav-link{
    font-size: 1.2rem;
    font-family: 'helvetica';

}
nav.navbar.navbar-expand-md.navbar-light.fixed-top{
    background: #fff !important;
}


.navbar-dark .navbar-nav .nav-link{
    color: #737373 !important;
    font-size: 1.8rem;
}

.title-bg{

   position: absolute;
     top: 130px;
     left: 0;
     right: 0;
     bottom: 0;
    z-index: 1;
    color: #fff;
    font-size: 50px;
    tex-shadown: 8px 13px 0px #000;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 3px;
    font-weight: 600;
     transition: top .5s ease;
}
.title-bg-12{
    top: 130px !important;
}
.box-cover-bg{
    position: absolute;
    height: 350px;
    top: 0;
     bottom: 0;
    left: 0;
    right: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.height-box-12{
    height: 350px !important;
}
.box-cover-bg:hover{
    background-color: rgba(0, 105, 47, 0.5); /*rgba(0,0,0,0.25);*/
}
.box-cover-bg:hover .title-bg{
    top: 70px;
}
.box-cover-bg:hover .title-bg-12{
    top: 70px !Important;
}

.icon-img{
    position: absolute;
    top: 170px;
    bottom: 0;
    z-index: 10;
    left:0;
    right:0;
    color: #fff;
    opacity:0;
    transition: top .5s ease;
}
.icon-img-12{
    top: 170px !Important;
}
.box-cover-bg:hover .icon-img{
    opacity: 1;

}
.thumb-bg{
    filter: saturate(50%);
    -webkit-filter: saturate(50%);
    -moz-filter: saturate(50%);
    -o-filter: saturate(50%);
    -ms-filter: saturate(50%);
    border-radius: 5px;

}

.spacing-bg-layout{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px !important;
}
.btn-now{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to right, #1f5643 0%, #1e7b40 51%, #78dc9e 100%);
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    
    border-color: #fff;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .15s ease;
}



.mt-search{
    margin-top: 170px !important;
}
.icon img{
    position: absolute;
}

.thumb-caption p.thumb-desc{
    position: relative;
    margin-left: 90px;
}

.well.well-ecocar {
    padding: 0;
    background: transparent;
    border: none !important;
}
div#myCarousel {
    padding: 0 0 30px 0;
}
a.thumbnail.img-thumbnail-slide img{
    height:200px;
    object-fit: cover;
}
.img-thumbnail-slide{
    padding: 0;
}
.title-ecocar{
    color: #00692f;
    text-transform: uppercase;
    font-weight: 500;
}
.thumb-eco-caption{
    padding: 10px ;
}
a.thumbnail.img-thumbnail-slide{
    transition: 0.3s all;
}
a.thumbnail.img-thumbnail-slide:hover {
    border-color: transparent;
    box-shadow: 1px 1px 19px #797575;
}
.footer-text-darken{
    color: #626262 !important;
}
.footer-text{

    font-size: 16px !important;
}
.footer-icon-mobile{
    width:45px;
}
.footer-mobile-number{
    font-size: 22px;
    color: #277556;
    font-weight: 900;
    letter-spacing: 1.5px;
    vertical-align: middle;
}

li.icon-ecocar img {
    margin-right: 5px;
}
.btn-Profile{
    background: #00692f;
    color: #fff;
    border-color: #00692f;
}
.btn-n-hover:hover {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    color: #fff;
}
.nav-ecocar-spacing{
    margin: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000 !important;
}

input.form-control{
    color: #000;
}
input.typeahead.form-control.tt-input{
    background: #f0f0f0 !important ;
}
.search-tabs-bg > .tabbable >.tab-content > .tab-pane .form-control{
    background: #f0f0f0;
}
.form-group.form-group-lg .input-icon{
    color: #00692f;
}

.label-search{
    color: #000;
}
.box-search-ecocar{
    z-index: 1 !Important;

}
.owl-controls .owl-buttons div{
    z-index: 2 !important;
}
.owl-controls .owl-buttons div:hover{
        background: #00692f;
    -webkit-box-shadow: 0 0 0 1px #00692f;
    box-shadow: 0 0 0 1px #00692f;
}


.carousel-control{
    line-height: 25px;
}
.carousel-indicators .active {
    background: #edda34;
}
.search-results{
    color: #fff ;
}
img.icon-formstep {
    width: 45px;
}
.formstep-border{

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px !important;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.pl10-pr10{
    padding-left: 10px;
    padding-right: 10px;
}
.bg-formstep{
    margin: -1px -29px 10px;
    color: #fff;
    background: #00692f;
}
.pd10{
    padding: 10px;
}

input.checkbox-formstep{
    margin-top: 15px;
    margin-right: 15px;
}
img.icon-formstep2{
    width: 45px;
    padding: 5px;
    background: #00692f ;
    border-radius: 10px;
}
.tb-w-100p{
   width:100%;
}

.td-w-50p{
    width: 50%;
}

.pl30{
    padding-left: 30px !important;
}
.btn-login{
        display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;

    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  background-color: #fff;
    border-color: #fff;
    border: 1px;
    color: #4d4d4d;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .15s ease;
}
.btn-forgetpass{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to right, #fccb37 0%, #FFB75E 51%, #FFB75E 100%);
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    /*background: none;*/
    border-color: #4d4d4d;
    border: 1px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .15s ease;
    color: #fff;
}


.btn-forgetpass:hover{
    background-position: right center;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    background: #696969;
    color: #fff;
    background-image: linear-gradient(to right, #FFB75E 0%, #FFB75E 51%, #fccb37 100%);

}

.btn-login:hover{
    color: #838383;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}




.btn-payletter{

    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to right, #df3333 0%, #f26168 51%, #c54d558a 100%);
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    /* background: #4d4d4d; */
    border-color: #4d4d4d;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .15s ease;
    color: #fff;

}

.btn-now:hover{
    background-position: right center;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    background: #696969; 
    background-image: linear-gradient(to right, #78dc9e 0%, #1e7b40 51%, #1f5643 100%);
}

.btn-payletter:hover{
    background-position: right center;
    transform: translateY(-1px);
    color: #fff;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, #c54d558a 0%, #f26168 51%, #DF3334 100%);
}


.login-mobile{
        float: left;
    right: 0;
    position: absolute;
    width: 50px;
    /* background: transparent; */

}

.profile-mobile{
    position: absolute !important;
    /* float: right; */
    right: 0;
    top: 0;
    margin-top: -65px;
}


.title-formstep{
        color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    z-index: 10;

}

.logo-login-page{
    text-align: center;
    right: 0;
    opacity: 1;
    margin-left: 0;
}

.bg-dark{
    opacity: 0.5 !important;
}

.bg-login{

    background: #fff;
    opacity: 0.8;
    padding: 15px;
    box-shadow: 0px 15px 30px #000;
}
.icon-login{
    color: #000 !important;
}
.color-arrow{
    color: #00692f !important;
}
.footer-contact{
  font-size: 12px;
    line-height: 18px;
}
li.booling-form-100p{
    width: 100% !important;
}


.box-carrental-summery{
    width: 60%;
    padding: 0 20px 20px 20px;

}

button.btn-forgetpass.btn-login-page.signin { 
    border-radius: 50px;
    width: 100%; 
    margin-top: 10px; 
    padding: 18px;
    background: #4d4d4d;
    border-color: #4d4d4d;
    }
button.btn-forgetpass.btn-login-page.signin:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    background: #696969;
    color: #fff;
}

button.btn-forgetpass.btn-login-page.signup{
    width: 100% !important;
    border-radius: 50px !important;
    padding: 17px !important;
    margin-top: 40px;
    background: #4d4d4d;
    border-color: #4d4d4d;
}
button.btn-forgetpass.btn-login-page.signup:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    background: #696969;
    color: #fff;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .booking-list{
        padding-left: 20px;
    }

    h5.booking-sort-title{
        padding-left: 20px ;
    }
}
@media (max-width: 991px) {
    .booking-filters{
        width: 100% ;
    }

}


@media (max-width: 767px) {
    ul.dropdown-menu.form-login-mobile {
        left: auto;
        right: 0;
        top: 50px;
        position: absolute !important;
        z-index: 1000;
        display: none;
        padding: 5px 12px;
        background-color: #ffffff !important;
        border: 1px solid #cccccc !important;
        border: 1px solid rgba(0, 0, 0, 0.15) !important;
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
        background-clip: padding-box;
    }
    .Contact-information{
        text-align: left;
    }

}

@media (max-width: 580px) {
    .btn-login-page{
        width: 100% !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .bg-formstep{
        margin: -1px -25px 10px;
    }
}

@media (max-width: 473px) {
    .title-formstep{
        margin-top: -22px;
    }
}
p.ex1 {
    padding: 0cm 0cm 0cm 2cm;
    font-size: 14px !important;
}
.checkout {
    border-bottom: 1px dashed #dcdcdc;
    margin: 0px 9px 25px;
    /* color: #fff; */
    /* background: #00692f; */
}
.terms{
    border: 1px dashed #dcdcdc;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.padding-terms{
    padding-left: 40px;
    padding-right: 40px;
}
.line-text {
    font-size: 20px;
    color: #00b833;
    font-weight: 500;
    line-height: 1.3;
}
button.btn-condition-ecocar {
    background-color: #004b1d;
    padding: 8px;
    border-radius: 5px;
}
button.btn-condition-ecocar a {
    color: #fff;
}
@media (max-width: 443px) {
   ul.pagination.results{
        padding-left: 0;
    }
}
